body {
    margin: 0;
    padding: 0;
    background-image: url('bd.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.container {
    width: 400px;
    background: #a7282c;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0px 15px 30px 0px #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    color: #FFF;
    font-weight: 800;
    margin-bottom: 0;
}

h5 {
    color: #FFF;
    font-style: italic;
}

.col {
    margin-top: 10px;
}

.btn-black{
    margin-top: 20px;
    background-color: #FFF !important;
    color: #000;
}

label {
    color: #FFF;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #80171a;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-content p {
    margin: 5px 10px;
}